:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;

    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background-image: url(/assets/elden-background.jpg);
    background-size: 105%;
    background-position: center;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

main {
    height: 100%;
    display: flex;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
}

.adventurer-stats {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.adventurer img {
    width: 350px;
}

.adventurer {
    color: #660000;
    font-size: 5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

.adventurer p {
    background-color: brown;
    border-radius: 15px;
    padding: 20px;
}

.imp-stats {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imp-stats input,
.imp-stats button {
    height: 100px;
    font-family: 'Titillium Web', sans-serif;
}

.imp-stats button {
    font-size: 2em;
}

.imp-stats input {
    font-size: 3rem;
    width: 80%;
}

.defeated-imps {
    text-align: center;
}

.defeated-imps p {
    font-size: 2rem;
    color: white;
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 15px;
}

form {
    padding: 20px;
    display: flex;
}

.imp {
    cursor: pointer;
    border: solid 3px #5d086d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #dda1eb;
    justify-self: flex-end;
    font-size: 3rem;
}

.defeated {
    opacity: 0.2;
    cursor: default;
}

.game-over {
    transform: rotate(90deg);
}

form {
    display: flex;
    flex-direction: column;
}

#div-form {
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    border-radius: 4px;
}

label {
    font-size: 2rem;
}

input {
    background-color: rgb(190, 183, 173);
}

button {
    background-color: rgb(163, 152, 137);
}

#game-over-message {
    font-size: 8em;
    color: #a52a2a;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.555);
    width: 80%;
    border-radius: 20px;
    font-family: fantasy, serif;
    padding-top: 30px;
}
